.c-all {
  height: 100vh;
  background-size: cover !important;
  background-position: center !important;
}
.c-card {
  width: 15%;
  text-align: center;
  height: 30vh;
  border-radius: 15px;
  box-shadow: 5px 5px 40px 25px;
  font-size: 30px;
  font-family: emoji;
}
